[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = git@github.com:g-truc/glm.git
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ThirdParty/vma"]
	path = ThirdParty/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ThirdParty/imgui_docking"]
	path = ThirdParty/imgui_docking
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ThirdParty/yaml-cpp"]
	path = ThirdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "ThirdParty/nfd-extended"]
	path = ThirdParty/nfd-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
